<!---<h1>Main#index</h1>
<p>Find me in app/views/main/index.html.erb</p>-->





<hr>

<FONT face="ＭＳ Ｐ明朝" size="3">
<!--<input type="button" value="+">-->
<!--<form action="#" method="post">
<input type="button" value="+" name="button" onclick="alert('質問作成')" />
</form>
-->
<!--ボタン-->
 <a href="#modal" rel="leanModal"><input type="button" value="+"></a>
  <div id="modal" style="display:none; background:white; padding:2em">
    <div><a class="modal_close" href="#"><input type="button" value="×"></a></div>
    <!--モーダルウィンドウの中身-->
<br>
<B>
<INPUT type="radio" name="question" value="select"checked>質問
<pre>
<br>
<br>
</pre>
<INPUT type="radio" name="question" value="select2">選択
<br>
<input type="button" value="新規作成">
<br>
</B>
 </div>
<B>
<center>
<pre>数学        3限	火曜</pre>   
</center>          　　　　　　　　
</B>
</FONT><BR>

<!--質問内容-->
<pre>
<hr>
質問～？(質問しない人14/30)
<hr>
A(田村)：～。
Ｂ（東）:～。
先生:Anser：～。
</pre>
<br>
<TEXTAREA cols="50" rows="5" name="puestion">
内容を記入してください。
</TEXTAREA>
<input type="button" value="返信">
<input type="button" value="区切り">




