<h1>Kazuki#index</h1>
<p>Find me in app/views/kazuki/index.html.erb</p>
<font color="#54CC00"><p>柴田様参上</p></font>

<hr> ↑これは普通の線です。
<table border="4" sellspacing="5">
	<tr><th>好きなもの</th> <th>嫌いなもの</th></tr>
	<tr><td>小説</td> <td>ホラー</td></tr>
	<tr><td>ゲーム</td> <td>働くこと</td></tr>
</table>
<a href="http://masaboo.cside.com/new_html1/ht_menu.htm">こちらで勉強中</a><br><br>
<ol>
<li><a href="/yuki/index">まこっちゃんの分</a><br></li>
<li><a href="/yuta/index">阿部さんの分</a><br></li>
</ol>
<ul>
	<li>ビール</li>
	<ul>
		<li>缶ビール</li>
			<ul>
			<li>アサヒ</li>
			<li>キリン</li>
			</ul>
		<li>生ビール</li>
	</ul>
	<li>カクテル</LI>
   <ul>
   <li>モスコミュール</li>
   <li>カシスソーダ</li>
   <li>ソルティードック</li>
   </ul>
</UL>

<form>
	<textarea cols="30"rows="5"name="com1">上手にできてるかな？</textarea>
	<input type="submit" name="ok">
</form>