// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

.header {
  padding-left: 8px;
  background-color: #f000e0;
  color: white;
  font-weight: bold;
  font-size: large;
  letter-spacing: 0em;

  a {
    color: #ffff00;

  }
}

.main {
  color: orange;
  h1 {
    color: pink;
    margin: 8px;
  }
  h2 {
    margin: 20px;

  }

  .home {
    a {
      color: pink;
    }
  }
}