<!---<title> my hompage </title>-->
<h1>Yuta#index</h1>
<p>Find me in app/views/yuta/index.html.erb</p>
<html>

<head>
<title> my hompage </title>
</head>
<body text = "bule">
 hello!!
 </body>

</html>

<table border="10"width="300" height="100">
<tr>
<th>1</th><th>2</th>
</tr>
	<tr>
	<td>one</td><td>two</td>
	</tr>

	<tr>
	<td>two</td><td>three</td>
	</tr>
</table>
<a href="/kazuki/index">name sibata</a>
<br>

<a href ="/yuki/index"> name yuki</a>

<hr>
<marquee>目</marquee>
<ol>
<li>1つ目のリスト</li>
<li>2つ目のリスト</li>
<li>3つ目のリスト</li>
</ol>
<TEXTAREA cols="20" rows="3" name="one">
	hello!!!!
</TEXTAREA>


<TEXTAREA cols="20" rows="3" name="one" readonly>
	nothing
</TEXTAREA>
<br>
男<INPUT type="radio" name="ichiro" value="man">
<br>
<INPUT type="submit" name="ssss" value="ボタンに表示するテキスト">