<h1>Yuki#index</h1>
<p>Find me in app/views/yuki/index.html.erb</p>
aaaaa
	<table border="1" cellspacing="15" cellpadding="15">
		<tr>
			<td colspan="3">あいさつ</td>
		</tr>
		<tr>
			<td>Morning</td><td>おはよう</td><td>おは＾＾</td>
		</tr>
		<tr>
		<td>Night</td><td>こんばんわ</td><td>ばんわ＾＾</td>
		</tr>
	</table>

	<FORM>
		<H5>cols="30" rows="5"を指定</H5>
		<TEXTAREA cols="30" rows="5" name="com1">

		</TEXTAREA>

		<H5>最初から文字を表示</H5>
		<TEXTAREA cols="20" rows="2" name="com2">
			感想を書く！！
		</TEXTAREA>
	</FORM>
	<FORM>
		<p>
			<INPUT type="submit" value="送信するよ？＾＾" name="go">
		</p>
	</FORM>


	<LI>リンク集</LI>
	<ul>
	<li><p><a HREF="/kazuki/index">しばっさんの好き嫌いについて</A></p></li>
	<li><a HREF="/yuta/index">阿部さんの数字のやつ</A></li>
