// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#contents {
  margin: 0 auto;
  padding: 10px 0 50px 0;
  width: 100%;
}

p {
  padding: 10px 0;
}

#open01,
.close_overlay{
  top: 0;
  left: 0;
  width: 100%;
  heighy: 100%;
  display: bolck;
  text-indent: -9999px;
  position:absolite;
  background:#060606;
  opacity: 0.5;
  z-index: 5;

}
.modal_window h2 {
  margin-bottom: 20px;
width: 400px;
height: 30px;
 line-height: 30px;
color: #fff;
text-align: left;

}